.nav-bar {
    background-color: #B1E1FF;
    padding: 10px;
    border: 3px dashed;
    text-align: center;
    list-style-type: none;
}

.nav-bar-logo {
    height: 80px;
    width: 80px;
    position: relative;
    top: 10px;
}

.navbar-links-item {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    font-size: 20px;
}